<div style="margin:3mm">
    <div>
        <img class="float-left mr-3" src="media/avatars/user_1.png" width="64" height="64">
    </div>
    <div class="card">
        <div class="card-body"><h4><span style="text-decoration: underline; color:dimgrey">Username:</span> <span style="color:orangered">{{up.user.username}}</span></h4></div>
        <div class="card-footer"><h5><span style="text-decoration: underline; color:dimgrey">Name:</span>    {{up.user.name}}</h5></div>
        <div class="card-footer"><h5><span style="text-decoration: underline; color:dimgrey">Surname:</span>    {{up.user.surname}}</h5></div>
        <div class="card-footer"><h5><span style="text-decoration: underline; color:dimgrey">Email:</span>    {{up.user.email}}</h5></div>
    </div>
    <hr>

    <div class="alert alert-success" ng-show="up.success">
        <strong>Profile succesfuly changed!</strong>
    </div>
    <div class="container">
    <div class="card">
    <form ng-submit="up.changeProfile()">
        <div class="card-body">Change profile</div>
        <div class="card-footer">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="name" ng-model="up.editUser.name">
        </div>
        </div>
        <div class="card-footer">
        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" class="form-control" name="surname" id="surname" placeholder="surname" ng-model="up.editUser.surname">
        </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
            <label for="surname">Email:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="email" ng-model="up.editUser.email">
        </div>
        </div>
        <div class="card-footer">
        <div>
            <input type="submit" class="btn btn-primary" value="Change">
        </div>
        </div>
    </form>
    </div>
    </div>
</div>